<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Dec Page Sample_Socotra.docx</title>
    <style type="text/css">
      * {
        margin: 0;
        padding: 0;
        text-indent: 0;
      }

      .s1 {
        color: #1C1B1C;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 10pt;
      }

      .s2 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 10pt;
      }

      a {
        color: #1154CC;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: underline;
        font-size: 10pt;
      }

      h1 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 18pt;
      }

      .s3 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 10pt;
      }

      .s4 {
        color: #808080;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 10pt;
      }

      .s5 {
        color: #808080;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
      }

      .s6 {
        color: #FFF;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 10pt;
      }

      .s7 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 10pt;
      }

      .s8 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 8pt;
      }

      .s9 {
        color: #808080;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 8pt;
      }

      .s10 {
        color: #808080;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 10pt;
      }

      .s11 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 8pt;
      }

      .s12 {
        color: #808080;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 8pt;
      }

      .s13 {
        color: black;
        font-family: "Arial Unicode MS", sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 8pt;
      }

      .s14 {
        color: #FFF;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 10pt;
      }

      .s15 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 10pt;
      }

      .s16 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 8pt;
      }

      .s17 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 8pt;
      }

      .s18 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 4pt;
      }

      .s19 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: italic;
        font-weight: normal;
        text-decoration: none;
        font-size: 15pt;
      }

      .s20 {
        color: #FFF;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 12pt;
      }

      .s21 {
        color: #FFF;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 8pt;
      }

      .s22 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 9pt;
      }

      .s23 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: italic;
        font-weight: normal;
        text-decoration: none;
        font-size: 8pt;
      }

      .s24 {
        color: #1C1B1C;
        font-family: "Arial Unicode MS", sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 8pt;
      }

      .s25 {
        color: #1C1B1C;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 8pt;
      }

      .s26 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 14pt;
      }

      .s27 {
        color: black;
        font-family: "Arial Unicode MS", sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 10pt;
      }

      .s28 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: underline;
        font-size: 10pt;
      }

      h2 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 14pt;
      }

      .s29 {
        color: #FFF;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 10pt;
      }

      .s30 {
        color: #FFF;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 10pt;
      }

      .s31 {
        color: #1F1F1F;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 8pt;
      }

      .s32 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 28.5pt;
      }

      p {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11.5pt;
        margin: 0pt;
      }

      .s33 {
        color: #808080;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 10pt;
      }

      h3 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 13.5pt;
      }

      h4 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 11.5pt;
      }

      .s34 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 1pt;
      }

      .s35 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
      }

      li {
        display: block;
      }

      #l1 {
        padding-left: 0pt;
        counter-reset: c1 1;
      }

      #l1>li>*:first-child:before {
        counter-increment: c1;
        content: "("counter(c1, decimal)") ";
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 8pt;
      }

      #l1>li:first-child>*:first-child:before {
        counter-increment: c1 0;
      }

      li {
        display: block;
      }

      #l2 {
        padding-left: 0pt;
        counter-reset: d1 1;
      }

      #l2>li>*:first-child:before {
        counter-increment: d1;
        content: "("counter(d1, decimal)") ";
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 8pt;
      }

      #l2>li:first-child>*:first-child:before {
        counter-increment: d1 0;
      }

      li {
        display: block;
      }

      #l3 {
        padding-left: 0pt;
        counter-reset: e1 1;
      }

      #l3>li>*:first-child:before {
        counter-increment: e1;
        content: counter(e1, upper-latin)". ";
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 9pt;
      }

      #l3>li:first-child>*:first-child:before {
        counter-increment: e1 0;
      }

      table,
      tbody {
        vertical-align: top;
        overflow: visible;
      }
    </style>
  </head>
  <body>
    <p style="text-indent: 0pt;text-align: left;">
      <span>
      </span>
    </p>
    <p class="s1" style="padding-top: 4pt;text-indent: 0pt;text-align: right;">MGT Specialty Insurance Company <span style=" color: #000;"></span>
    </p>
    <p class="s2" style="text-indent: 0pt;text-align: right;">5445 DTC Pkwy</p>
    <p style="padding-left: 368pt;text-indent: -28pt;text-align: right;">
      <a href="http://www.mgtinsurance.com/" style=" color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;" target="_blank">Greenwood Village, CO 80111 </a>
      <a href="http://www.mgtinsurance.com/" target="_blank">www.mgtinsurance.com</a>
    </p>
    <p style="padding-top: 11pt;text-indent: 0pt;text-align: left;">
      <br />
    </p>
    <h1 style="padding-left: 79pt;text-indent: 0pt;text-align: left;">${data.productName}</h1>
    <p class="s3" style="padding-top: 11pt;padding-left: 139pt;text-indent: -32pt;text-align: left;">
      <a name="bookmark0">&zwnj;</a>THIS POLICY IS NONPARTICIPATING WITH REGARD TO PAYING DIVIDENDS TO POLICYHOLDERS.
    </p>
    <p class="s3" style="padding-top: 11pt;padding-left: 6pt;text-indent: 0pt;text-align: left;">
      <a name="bookmark1">&zwnj;</a>Policy Number: <span class="s4">${data.quote.quoteNumber}</span>
    </p>
    <p style="text-indent: 0pt;text-align: left;">
      <br />
    </p>
    <p class="s3" style="text-indent: 0pt;text-align: right;">Policy Effective From: <span class="s2">${data.quote.startTime}</span>
    </p>
    <p class="s3" style="text-indent: 0pt;text-align: right;">To: <span class="s2">${data.quote.endTime}</span>
    </p>
    <p class="s3" style="padding-top: 11pt;padding-left: 6pt;text-indent: 0pt;text-align: left;">Information as of: <span class="s2">${data.currentDay}</span>
    </p>
    <p class="s3" style="padding-top: 11pt;padding-left: 6pt;text-indent: 0pt;text-align: left;">
      <a name="bookmark2">&zwnj;</a>Named Insured Mailing Address <span class="s2">:
    </p>
    <p class="s5" style="padding-left: 6pt;text-indent: 0pt;text-align: left;">${data.applicantName}</p>
    <p class="s5" style="padding-left: 6pt;text-indent: 0pt;text-align: left;">${data.line1}</p>
    <p class="s5" style="padding-left: 6pt;text-indent: 0pt;text-align: left;">${data.city}, ${data.state} ${data.zipCode}</p>
    <p class="s5" style="padding-left: 6pt;text-indent: 0pt;text-align: left;">${data.applicantPhoneNumber}</p>
    <p class="s3" style="padding-top: 11pt;padding-left: 6pt;text-indent: 0pt;text-align: left;">Business Description: <span class="s4">Lessor's Risk</span>
    </p>
    <p class="s3" style="padding-left: 6pt;text-indent: 0pt;text-align: left;">Form of Business: <span class="s4">${data.applicantLegalEntity}</span>
    </p>
    <p style="padding-top: 6pt;text-indent: 0pt;text-align: left;">
      <br />
    </p>
    <p class="s3" style="padding-left: 6pt;text-indent: 0pt;text-align: left;">IN RETURN FOR THE PAYMENT OF THE PREMIUM, AND SUBJECT TO ALL THE TERMS OF THIS POLICY, WE AGREE WITH YOU TO PROVIDE THE INSURANCE AS STATED IN THIS POLICY.</p>
    <p style="padding-top: 6pt;text-indent: 0pt;text-align: left;">
      <br />
    </p>
    <table style="border-collapse:collapse;margin-left:7.5pt" cellspacing="0">
      <tr style="height:24pt">
        <td style="width:468pt;border-top-style:solid;border-top-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BFBFBF" colspan="2" bgcolor="#002060">
          <p class="s6" style="padding-left: 78pt;text-indent: -68pt;line-height: 12pt;text-align: left;">THIS POLICY CONSISTS OF THE FOLLOWING COVERAGE PARTS FOR WHICH A PREMIUM IS INDICATED. THIS PREMIUM MAY BE SUBJECT TO ADJUSTMENT.</p>
        </td>
      </tr>
      <tr style="height:17pt">
        <td style="width:234pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BFBFBF;border-left-style:solid;border-left-width:1pt;border-left-color:#BFBFBF;border-right-style:solid;border-right-width:1pt;border-right-color:#BFBFBF" bgcolor="#BEBEBE">
          <p class="s7" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">Coverage Part</p>
        </td>
        <td style="width:234pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BFBFBF;border-left-style:solid;border-left-width:1pt;border-left-color:#BFBFBF;border-right-style:solid;border-right-width:1pt;border-right-color:#BFBFBF" bgcolor="#BEBEBE">
          <p class="s7" style="padding-top: 2pt;padding-right: 2pt;text-indent: 0pt;text-align: right;">Premium</p>
        </td>
      </tr>
      <tr style="height:11pt">
        <td style="width:234pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BFBFBF;border-left-style:solid;border-left-width:1pt;border-left-color:#BFBFBF;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BFBFBF;border-right-style:solid;border-right-width:1pt;border-right-color:#BFBFBF">
          <p class="s8" style="padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;line-height: 9pt;text-align: left;">Commercial General Liability</p>
        </td>
        <td style="width:234pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BFBFBF;border-left-style:solid;border-left-width:1pt;border-left-color:#BFBFBF;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BFBFBF;border-right-style:solid;border-right-width:1pt;border-right-color:#BFBFBF">
          <p class="s9" style="padding-top: 1pt;padding-right: 2pt;text-indent: 0pt;line-height: 9pt;text-align: right;">${data.pricing.premiumAndTaxes}</p>
        </td>
      </tr>
      <tr style="height:10pt">
        <td style="width:234pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BFBFBF;border-left-style:solid;border-left-width:1pt;border-left-color:#BFBFBF;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BFBFBF;border-right-style:solid;border-right-width:1pt;border-right-color:#BFBFBF">
          <p class="s8" style="padding-left: 3pt;text-indent: 0pt;line-height: 8pt;text-align: left;">Terrorism - Certified Acts</p>
        </td>
        <td style="width:234pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BFBFBF;border-left-style:solid;border-left-width:1pt;border-left-color:#BFBFBF;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BFBFBF;border-right-style:solid;border-right-width:1pt;border-right-color:#BFBFBF">
          <p class="s9" style="padding-right: 2pt;text-indent: 0pt;line-height: 8pt;text-align: right;">${data.pricing.terrosimCertificate}</p>
        </td>
      </tr>
    </table>
    <p style="padding-top: 9pt;text-indent: 0pt;text-align: left;">
      <br />
    </p>
    <table style="border-collapse:collapse;margin-left:6.5pt" cellspacing="0">
      <tr style="height:14pt">
        <td style="width:468pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-left-color:#002060;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BFBFBF;border-right-style:solid;border-right-width:1pt;border-right-color:#002060" bgcolor="#002060">
          <p class="s6" style="padding-top: 1pt;padding-left: 118pt;padding-right: 116pt;text-indent: 0pt;text-align: center;">Annual Premium For This Policy</p>
        </td>
      </tr>
      <tr style="height:13pt">
        <td style="width:468pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BFBFBF;border-left-style:solid;border-left-width:1pt;border-left-color:#BFBFBF;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BFBFBF;border-right-style:solid;border-right-width:1pt;border-right-color:#BFBFBF">
          <p class="s10" style="padding-left: 118pt;padding-right: 116pt;text-indent: 0pt;line-height: 11pt;text-align: center;">${data.pricing.premiumAndTaxesAndTerrorism}</p>
        </td>
      </tr>
    </table>
    <p style="padding-top: 9pt;text-indent: 0pt;text-align: left;">
      <br />
    </p>
    <table style="border-collapse:collapse;margin-left:6.5pt" cellspacing="0">
      <tr style="height:12pt">
        <td style="width:468pt;border-top-style:solid;border-top-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BFBFBF" colspan="2" bgcolor="#002060">
          <p class="s6" style="padding-left: 1pt;text-indent: 0pt;line-height: 11pt;text-align: center;">Fee Table</p>
        </td>
      </tr>
      <tr style="height:11pt">
        <td style="width:234pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BFBFBF;border-left-style:solid;border-left-width:1pt;border-left-color:#BFBFBF;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BFBFBF;border-right-style:solid;border-right-width:1pt;border-right-color:#BFBFBF">
          <p class="s8" style="padding-top: 1pt;padding-left: 4pt;text-indent: 0pt;line-height: 9pt;text-align: left;">Installment</p>
        </td>
        <td style="width:234pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BFBFBF;border-left-style:solid;border-left-width:1pt;border-left-color:#BFBFBF;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BFBFBF;border-right-style:solid;border-right-width:1pt;border-right-color:#BFBFBF">
          <p class="s9" style="padding-top: 1pt;padding-right: 2pt;text-indent: 0pt;line-height: 9pt;text-align: right;">${data.pricing.installmentFee}</p>
        </td>
      </tr>
      <tr style="height:11pt">
        <td style="width:234pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BFBFBF;border-left-style:solid;border-left-width:1pt;border-left-color:#BFBFBF;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BFBFBF;border-right-style:solid;border-right-width:1pt;border-right-color:#BFBFBF">
          <p class="s8" style="padding-top: 1pt;padding-left: 4pt;text-indent: 0pt;line-height: 9pt;text-align: left;">Stamping</p>
        </td>
        <td style="width:234pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BFBFBF;border-left-style:solid;border-left-width:1pt;border-left-color:#BFBFBF;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BFBFBF;border-right-style:solid;border-right-width:1pt;border-right-color:#BFBFBF">
          <p class="s9" style="padding-top: 1pt;padding-right: 2pt;text-indent: 0pt;line-height: 9pt;text-align: right;">${data.pricing.stampingFee}</p>
        </td>
        <tr style="height:11pt">
        <td style="width:234pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BFBFBF;border-left-style:solid;border-left-width:1pt;border-left-color:#BFBFBF;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BFBFBF;border-right-style:solid;border-right-width:1pt;border-right-color:#BFBFBF">
          <p class="s8" style="padding-top: 1pt;padding-left: 4pt;text-indent: 0pt;line-height: 9pt;text-align: left;">Broker</p>
        </td>
        <td style="width:234pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BFBFBF;border-left-style:solid;border-left-width:1pt;border-left-color:#BFBFBF;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BFBFBF;border-right-style:solid;border-right-width:1pt;border-right-color:#BFBFBF">
          <p class="s9" style="padding-top: 1pt;padding-right: 2pt;text-indent: 0pt;line-height: 9pt;text-align: right;">${data.pricing.brokerFee}</p>
        </td>
        <tr style="height:11pt">
        <td style="width:234pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BFBFBF;border-left-style:solid;border-left-width:1pt;border-left-color:#BFBFBF;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BFBFBF;border-right-style:solid;border-right-width:1pt;border-right-color:#BFBFBF">
          <p class="s8" style="padding-top: 1pt;padding-left: 4pt;text-indent: 0pt;line-height: 9pt;text-align: left;">Carrier Policy</p>
        </td>
        <td style="width:234pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BFBFBF;border-left-style:solid;border-left-width:1pt;border-left-color:#BFBFBF;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BFBFBF;border-right-style:solid;border-right-width:1pt;border-right-color:#BFBFBF">
          <p class="s9" style="padding-top: 1pt;padding-right: 2pt;text-indent: 0pt;line-height: 9pt;text-align: right;">${data.pricing.carrierPolicyFee}</p>
        </td>
      </tr>
      <tr style="height:10pt">
        <td style="width:234pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BFBFBF;border-left-style:solid;border-left-width:1pt;border-left-color:#BFBFBF;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BFBFBF;border-right-style:solid;border-right-width:1pt;border-right-color:#BFBFBF">
          <p class="s11" style="padding-left: 4pt;text-indent: 0pt;line-height: 8pt;text-align: left;">Total Due</p>
        </td>
        <td style="width:234pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BFBFBF;border-left-style:solid;border-left-width:1pt;border-left-color:#BFBFBF;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BFBFBF;border-right-style:solid;border-right-width:1pt;border-right-color:#BFBFBF">
          <p class="s12" style="padding-right: 2pt;text-indent: 0pt;line-height: 8pt;text-align: right;">${data.pricing.premiumAndTaxesAndFees}</p>
        </td>
      </tr>
    </table>
    <p style="padding-top: 9pt;text-indent: 0pt;text-align: left;">
      <br />
    </p>
    <table style="border-collapse:collapse;margin-left:6.5pt" cellspacing="0">
      <tr style="height:14pt">
        <td style="width:468pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-left-color:#002060;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BFBFBF;border-right-style:solid;border-right-width:1pt;border-right-color:#002060" colspan="3" bgcolor="#002060">
          <p class="s6" style="padding-top: 1pt;padding-left: 117pt;padding-right: 116pt;text-indent: 0pt;text-align: center;">Discounts you qualify for</p>
        </td>
      </tr>
      <tr style="height:16pt">
        <td style="width:156pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BFBFBF;border-left-style:solid;border-left-width:1pt;border-left-color:#BFBFBF;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BFBFBF;border-right-style:solid;border-right-width:1pt;border-right-color:#BFBFBF">
          <p class="s13" style="padding-top: 2pt;text-indent: 0pt;line-height: 13pt;text-align: left;">□ <span class="s8">Advance Quote Discount</span>
          </p>
        </td>
        <td style="width:156pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BFBFBF;border-left-style:solid;border-left-width:1pt;border-left-color:#BFBFBF;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BFBFBF;border-right-style:solid;border-right-width:1pt;border-right-color:#BFBFBF">
          <p class="s13" style="padding-top: 2pt;text-indent: 0pt;line-height: 13pt;text-align: left;">□ <span class="s8">Sprinkler Discount</span>
          </p>
        </td>
        <td style="width:156pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BFBFBF;border-left-style:solid;border-left-width:1pt;border-left-color:#BFBFBF;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BFBFBF;border-right-style:solid;border-right-width:1pt;border-right-color:#BFBFBF">
          <p class="s13" style="padding-top: 2pt;text-indent: 0pt;line-height: 13pt;text-align: left;"> ${data.hasAffinityDiscount} <span class="s8">Affinity Discount</span>
          </p>
        </td>
      </tr>
      <tr style="height:16pt">
        <td style="width:156pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BFBFBF;border-left-style:solid;border-left-width:1pt;border-left-color:#BFBFBF;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BFBFBF;border-right-style:solid;border-right-width:1pt;border-right-color:#BFBFBF">
          <p class="s13" style="padding-top: 2pt;text-indent: 0pt;line-height: 13pt;text-align: left;">□ <span class="s8">Policy Tenure Discount</span>
          </p>
        </td>
        <td style="width:156pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BFBFBF;border-left-style:solid;border-left-width:1pt;border-left-color:#BFBFBF;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BFBFBF;border-right-style:solid;border-right-width:1pt;border-right-color:#BFBFBF">
          <p class="s13" style="padding-top: 2pt;text-indent: 0pt;line-height: 13pt;text-align: left;">${data.hasAffinityDiscount} <span class="s8">Full-pay Discount</span>
          </p>
        </td>
        <td style="width:156pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BFBFBF;border-left-style:solid;border-left-width:1pt;border-left-color:#BFBFBF;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BFBFBF;border-right-style:solid;border-right-width:1pt;border-right-color:#BFBFBF">
          <p style="text-indent: 0pt;text-align: left;">
            <br />
          </p>
        </td>
      </tr>
    </table>
    <p style="padding-top: 4pt;text-indent: 0pt;text-align: left;">
      <br />
    </p>
  </body>
</html>
